// color palette
$aero-blue: #ddeee1;        // primary color
$tiffany-blue: #17bebb;     // secondary color
$teal: #0e7c7b;             // contrast CTA color
$carmine-red: #d62246;
$dark-purple: #4b1d3f;
